/* 
    COLORS:
        PRIMARY_0   = #81B622 (Green)
        PRIMARY_1   = #3D550C (Dark Green)
        SECONDARY_0 = #E6FFCE (Pale Green)
        ACCENT_0    = #F0FA9A (Lime Yellow)
        TEXT_0      = #3C4133 (Grey/Brown)
*/

/* Font Imports */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

html {
    color: #3C4133;
    background-color: #3D550C;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding: 8px;
}

body {
    max-width: 1080px;
    padding: 1rem 2rem;
    margin: 0rem auto;
}

body, header, header h1, nav, nav button, section.infocard, section.infocard h2, section.personcard, section.personcard h2, section.personcard img {
    border-radius: 1rem;
}

body, nav, nav button, section.infocard h2, section.personcard h2 {
    text-align: center;
    background-color: #81B622;
    border: 4px solid #75A71F;
}

body, header h1, nav, nav ul, section.infocard h2, section.personcard h2 {
    margin: 0em auto;
}

body, header, section.infocard, section.personcard, nav button:hover {
    box-shadow: 2px 8px 8px rgba(0, 0, 0, 0.25), 8px 0px 8px rgba(0, 0, 0, 0.125);
}

.italics, footer p {
    font-style: italic;
}

header, section.infocard, section.personcard {
    background-color: #E6FFCE;
    padding: 2em 2em;
    border: 4px solid #DAF2C2;
    margin: 1em auto;
}

header h1, nav, nav button {
    color: #F0FA9A;
    font-weight: 700;
    letter-spacing: 0.075em;
    padding: 0.75em 1em;
}

header h1 {
    background-color: #3D550C;
    font-size: 2.5rem;
    border: 4px solid #334708;
    margin-bottom: 1rem;
}

nav ul, section.infocard div.header {
    width: fit-content;
    padding: 0rem;
}

nav ul li {
    display: inline-block;
}

nav button {
    font-size: 1.25rem;
    min-width: 4em;
    text-transform: capitalize;
    padding: 0.5em 1em;
    border: none;
    margin: 0em 0.25em;
}

nav button:hover {
    background-color: #3D550C;
}

nav button.currpage {
    color: #3C4133;
}

nav button.currpage:hover {
    background-color: #81B622;
    box-shadow: none;
}

section.infocard, section.personcard h3, section.personcard p {
    text-align: left;
}

section.infocard div.header, section.infocard h2 {
    min-width: fit-content;
}

section.infocard h2, section.personcard h2 {
    color: #F0FA9A;
    padding: 0.5em 1em;
}

section.infocard h2 {
    font-size: 1.5rem;
    width: 25%;
}

section.infocard h3, section.personcard h3 {
    font-size: 1.25rem;
    font-weight: bold;
    margin: 2em 2em 0em 2em;
}

section.infocard p, section.personcard p {
    font-size: 1.125rem;
    font-family: 'Roboto Slab', serif;
    line-height: 1.75em;
    margin: 1em 2em;
}

section.infocard p::first-letter, section.personcard p::first-letter {
    padding-left: 1.5em;
}

section.personcard h2 {
    font-size: 2rem;
}

section.personcard img {
    border: 4px solid #75A71F;
    margin-top: 1em;
}

.inlinenav {
    text-decoration: none;
    color: #3C4133;
    background-color: #F0FA9A;
    padding: 0em 0.25em;
}

.inlinenav:hover {
    color: #F0FA9A;
    background-color: #81B622;
}

div.googleform iframe {
    width: 100%;
    height: 1280px;
    border: none
}

footer {
    opacity: 50%;
}

footer p {
    color: #E6FFCE;
    margin: 0.5em auto;
}