* {
    box-sizing: border-box;
    /* border: 1px dashed red; */
}

html {
    text-align: center;
    background-color: #252c30;
    font-size: 16px;
}

body, header, main, footer, ul, header h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: fit-content;
    min-width: 200px;
    color: #ebeef0;
    text-align: center;
    border-radius: 16px;
    padding: 16px 32px;
    margin: 8px auto;
}

header h1 {
    font-size: 2.5rem;
    margin: 16px auto 0px auto;
}

body, header, main {
    box-shadow: 4px 8px 8px rgba(0,0,0,0.25), 0px 16px 16px rgba(0,0,0,0.125);
}

body {
    background-color: #374147;
    border: 4px solid #2b3338;
}

header {
    background-color: #2b317a;
    border: 4px solid #272c64;
}

header h1, li.nav {
    width: fit-content;
    min-width: 100px;
    font-weight: bold;
    letter-spacing: 0.1em;
    background-color: #252c30;
    border: 4px solid #21272b;
}

li.nav {
    font-size: 1rem;
    display: inline-block;
    border-radius: 16px;
    padding: 8px 16px;
}

li.nav.currpage, li.nav:hover {
    border: 4px solid #391669;
    background-color: #512096;
}

li.nav:hover { 
    box-shadow: 4px 8px 8px rgba(0,0,0,0.25);
}

main {
    background-color: #512096;
    border: 4px solid #391669;
}

main div h2 {
    font-size: 2rem;
}

footer {
    font-size: 0.5rem;
    color: #bcc5cb;
}