* {
    box-sizing: border-box;
    /* border: 2px dashed red; */
    transition-duration: 500ms;
}

html {
    font-size: 16px;
}

header, main, footer {
    font-size: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    width: fit-content;
    height: 100%;
    color: #f6fafd;
    background-color: #006fbe;
    padding: 1rem 4rem;
    border: 8px solid #005999;
    border-radius: 16px;
    margin: 32px auto;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.25), 4px 0px 25px rgba(0,0,0,0.125);
}

p:hover {
    box-shadow: 8px 16px 10px rgba(0,0,0,0.25), 16px 0px 25px rgba(0,0,0,0.125);
}